<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sidorencko_furniture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <sidorencko_furniture.Properties.Settings>
            <setting name="ConnectString" serializeAs="String">
                <value>Data Source = 10.128.14.42\SQLEXPRESS; Initial Catalog = user251; User ID = user251; Password=wsruser251</value>
            </setting>
        </sidorencko_furniture.Properties.Settings>
    </applicationSettings>
</configuration>